.hero {
  position: relative;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 142% 73%;
  padding-inline: 10rem;
  margin-inline: -10rem;
}

.hero-image {
  max-width: 590px;
  position: absolute;
  top: -20%;
  right: -5%;
}
.slogan {
  font-size: calc(2rem + 1.2vw);
  max-width: 15ch;
  font-weight: 300;
  padding-block: 2rem;
}
.hero .caption {
  max-width: 44ch;
}
.section-title {
  font-size: calc(1.7rem + 1.2vw);
  font-weight: 400;
  padding-bottom: 1rem;
}
.caption {
  max-width: 65ch;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--GrayishBlue);
  margin-block-end: 3rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1.2rem;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.icon {
  width: 3rem;
}
.card-media {
  width: 100%;
  aspect-ratio: 1.2/ 1;
  overflow: hidden;
  transition: all ease 250ms;
}
.card-media:hover {
  transform: scale(1.1) rotate(1deg);
  opacity: 0.6;
}
.card-body {
  padding: 1.5rem;
}
.author {
  font-size: 0.7rem;
  color: var(--GrayishBlue);
}
.title {
  font-size: 1rem;
  font-weight: 400;
  margin-block: 1rem;
  color: var(--Darkblue);
}
.brief {
  color: var(--GrayishBlue);
  max-width: 32ch;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.6;
}

section.about {
  background-color: hsla(233, 8%, 62%, 0.089);
  margin-inline: -10rem;
  padding-inline: 10rem;
}

@media (max-width: 800px) {
  .slogan,
  .brief,
  .section-title,
  .caption {
    text-align: center;
  }
  .card-container {
    grid-template-columns: auto;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: center -75%;
    background-size: 70%;
  }
  .hero-image {
    position: relative;
    max-width: 100%;
    max-height: 50vw;
    top: -49vw;
  }
  .hero .btn-primary {
    display: block;
    margin: auto;
  }
  .about .card {
    align-items: center;
  }
}
